/* .section-one img{
    margin-left: 44px;
} */


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h3 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 8px;
    padding-top: 10px;
  }

  p{
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 10px;
  }

  .second a{
    text-decoration: none;
    color: black;

    
  }
  .second1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);

    
  }
  .second2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);

    
  }
  .second h3{
    padding-top: 90px;
  }

  img{
    border-radius: 5px;
  }

  h4 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 8px;
    padding-top: 10px;
  }

  .container-fluid{
    background-color: #333333;
    color: white;
  }

  /* .first{
    border-right: 2px solid black;
  } */